on: [push, pull_request]
jobs:
  run:
    name: Run Planetcantile
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: setup git config
        run: |
          git config user.name "Andrew Annex's GitHub Actions Bot"
          git config user.email "<>"
      - uses: actions/setup-python@v6
        with:
          python-version: '3.12'
      - name: Install deps
        run: |
          python -m pip install --upgrade pip
          python -m pip install build twine
          python -m pip install .[dev]
      - name: Run defaults script
        run: |
          cd src/planetcantile/data && python ./generate.py && cd -
      - name: show outputs
        run: |
          cat ./src/planetcantile/data/*/*.json
          git status
      - name: run tests
        run: |
          python -m pytest .
      - name: Build
        run: |
          python -m build
          python -m twine check dist/*